In [11]:
import matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

In [12]:
df_house_raw = pd.read_csv(r"C:\Main_Drive\work\workarea\projects\House_prices_prediction\Data\HousingData.csv")

In [13]:
df_house_raw

,bhk,type,locality,area,price,price_unit,region,status,age
0,3,Apartment,Lak And Hanware The Residency Tower,685,2.50,Cr,Andheri West,Ready to move,New
1,2,Apartment,Radheya Sai Enclave Building No 2,640,52.51,L,Naigaon East,Under Construction,New
2,2,Apartment,Romell Serene,610,1.73,Cr,Borivali West,Under Construction,New
3,2,Apartment,Soundlines Codename Urban Rainforest,876,59.98,L,Panvel,Under Construction,New
4,2,Apartment,Origin Oriana,659,94.11,L,Mira Road East,Under Construction,New
...,...,...,...,...,...,...,...,...,...
76033,3,Apartment,Parinee Liva Roca,1527,7.00,Cr,Juhu,Ready to move,Unknown
76034,5,Apartment,Parinee Liva Roca,3049,12.00,Cr,Juhu,Ready to move,Unknown
76035,4,Apartment,Lodha Seaview,3313,10.00,Cr,Napeansea Road,Ready to move,Unknown
76036,2,Apartment,Hubtown Serene,1305,4.25,Cr,Bandra East,Ready to move,Unknown
76037,5,Apartment,Sunteck Signature Island,5200,25.00,Cr,Bandra Kurla Complex,Ready to move,Unknown

About Dataset
Context
Mumbai is the capital city of the Indian state of Maharashtra. It is a major financial and cultural hub in India, with a population of over 20 million people. The real estate market in Mumbai is known to be one of the most expensive in India. This house price dataset for Mumbai contains information on the sale prices of residential properties in the city, such as apartments and houses. It also includes information on the location, size, and age of the properties.

Columns
bhk
contains the number of bedroom, hall, kitchen collectively.

type
contains the type of house, type can be one of the following:

• apartment
• villa
• independent house
• studio apartment

Note: the majority of data is based on one of the above types.

locality
contains information about the locality of house.

area
contains the area of house, unit of measurement is sq ft.

price
contains the price value for the house.

price_unit
contains the price unit for the house which can be from given below:

• L -> represents Lakh (1 Lakh = 1,00,000 and 10 Lakhs = 1 Million)
• Cr -> represents Crore (1 Crore = 1,00,00,000 and 10 Million = 1 Crore)

Note: the currency of price here is Indian Rupee.

region
contains the region of the house.

status
contains information about the status of the house which can be either of given below:

• Ready to move -> the house is ready to use
• Under Construction -> the house is currently under construction

age
contains the information regarding age of house which can any of below:

• New: a new house for sale
• Resale: an old house for resale

In [14]:
df_house_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76038 entries, 0 to 76037
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bhk         76038 non-null  int64
 1   type        76038 non-null  object
 2   locality    76038 non-null  object
 3   area        76038 non-null  int64
 4   price       76038 non-null  float64
 5   price_unit  76038 non-null  object
 6   region      76038 non-null  object
 7   status      76038 non-null  object
 8   age         76038 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 5.2+ MB

In [15]:
df_house_raw.describe()

                bhk          area        price
count  76038.000000  76038.000000  76038.00000
mean       2.015111   1024.536850     29.38227
std        0.922754    670.276165     32.90345
min        1.000000    127.000000      1.00000
25%        1.000000    640.000000      1.75000
50%        2.000000    872.000000      5.50000
75%        3.000000   1179.000000     59.00000
max       10.000000  16000.000000     99.99000

***Exploratory Analysis and Visualization***